body {
      font-family: 'Outfit', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      line-height: 1.6;
      color: #49281A;
    }

    #container {
      text-align: center;
      padding: 40px;
      background-color: #ffe6a0;
    }

    h1 {
      color: #49281A;
      font-family: "Playfair Display", serif;
    }

    p {
      color: #49281A;
    }

    a {
      text-decoration: none;
      color: #4285f4;
      font-weight: bold;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #333;
      text-align: center;
      border-bottom: 2px solid #ffffff;
    }

    nav ul li {
      display: inline;
      margin-right: 20px;
    }

    nav a {
      text-decoration: none;
      color: #F0E2C5;
      font-weight: bold;
    }

    section {
      padding: 40px 20px;
    }

    #menu-container {
      max-width: 800px;
      margin: 0 auto;
    }

    .menu-category {
      margin-bottom: 40px;
    }

    h2,
    h3 {
      color: #49281A;
      font-family: "Playfair Display", serif;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .menu-item-info {
      margin-top: 10px;
    }

    span {
      display: block;
      margin-top: 5px;
      color: #49281A;
      font-weight: bold;
    }

    #about-us p {
      padding: 0 20px;
      margin-bottom: 20px;
      line-height: 1.6;
    }

    #contact {
      background-color: #F0E2C5;
      text-align: center;
      padding: 40px 20px;
    }

    #footer {
      background-color: #e60303;
      color: #F0E2C5;
      text-align: center;
      padding: 20px 0;
    }

    #go-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #4285f4;
      color: #F0E2C5;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
    }